name = "Home"
kind = {Python={venv="venv"}}

templates_path = "templates/"

[[endpoints]]
regex="/"
kind = {View = {template="Home/index.html", apis={nodes={node="system", api="nodes", parameters={tag="web_app_root"}}}}}

[[endpoints]]
regex="/configure/apps"
kind = {View = {template="Home/configure/apps.html", apis={nodes={node="system", api="nodes", parameters={tag="web_app_root"}}}}}

[[endpoints]]
regex="/configure/logs"
kind = {View = {template="Home/configure/logs.html", apis={nodes={node="system", api="nodes", parameters={tag="web_app_root"}}, logs={node="system", api="app_log"}}}}

[[endpoints]]
regex="/js(/.*)"
kind = {Static={path="static/js/"}}

[[endpoints]]
regex="/css(/.*)"
kind = {Static={path="static/css/"}}

[[endpoints]]
regex="/rsc(/.*)"
kind = {Static={path="static/rsc/"}}

