{% extends "home/base.html" %}
{% block title %}Configure{% endblock title %}
{% block script %}
<script type="text/javascript" src="/js/configure.js"></script>
{% endblock script %}
{% block content %}
<ul class="nav nav-tabs">
	<li class="nav-item">
		<a class="nav-link active" href="/configure/apps">Apps</a>
	</li>
</ul>
<div class="container-fluid">
	<table  class="table table-striped">
		<thead>
		<tr class="info">
			<th>Name</th>
		</tr>
		</thead>
		<tbody>
        {% for log in logs | reverse-%}
            <tr><td>{{ log }}</td></tr>
        {%- endfor %}
		</tbody>
	</table>
</div>
{% endblock content %}